.formBackground{
  background-image: url("/img/imgform.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}


.card{
  width: 500px;
  min-height: auto;
  background-color: rgba(255, 253, 253, 0.497);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}